name: CI workflow

on:
  push:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/dotnet/sdk:9.0.308

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Restore packages
        run: dotnet restore
      
      - name: Build Backend
        run: dotnet build src/AestraliaBackend/AestraliaBackend.csproj --configuration Release --no-restore
      
      - name: Build Frontend
        run: dotnet build src/AestraliaFrontend/AestraliaFrontend.csproj --configuration Release --no-restore
      
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: |
            **/bin/Release/
            !**/obj/
  
  test:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: mcr.microsoft.com/dotnet/sdk:9.0.308
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: ./build/

      - name: Run tests
        run: dotnet test --configuration Release --verbosity normal